body {
    background-color: #2d2d2d;
}

h1, h2 {
    color: white;
    font-family: all-round-gothic, sans-serif;
    font-weight: 600;
    font-style: normal;
}

p {
    color: white;
    font-family: 'Raleway', sans-serif;
}

footer {
    background-color: #4a4a4a;
}

.hero {
    height:30vh;
    min-height:400px;
    background-size:cover;
    background-image:linear-gradient(to bottom, transparent, #2d2d2d), url('assets/img/789194.jpeg');
    margin:0!important;
    padding:12vh!important;
}

.nav-text {
    color: #ff63ac;
}

.round-font-normal {
    font-family: all-round-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.round-font-bold {
    font-family: all-round-gothic, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.text-muted {
    color: #b3b3b3 !important;
}