body {
    background-color: #2d2d2d;
}

h1, h2 {
    color: white;
    font-family: all-round-gothic, sans-serif;
    font-weight: 600;
    font-style: normal;
}

p {
    color: white;
    font-family: 'Raleway', sans-serif;
}

/*header {*/
/*    height:10vh;*/
/*    background-size: cover;*/
/*    !*background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0)), url(https://osu.ppy.sh/assets/images/button.16de7c2c.svg);*!*/
/*    !*background-position: bottom;*!*/
/*    !*background-repeat: repeat-x;*!*/
/*    !*filter: hue-rotate(255deg);*!*/
/*}*/

#profile-picture, #header-logo{
    transition: 0.2s;
}

#header {
    background-color: rgba(74,74,74,0);
    transition: 0.2s;
}

footer {
    background-color: #4a4a4a;
}

.hero {
    height:30vh;
    min-height:400px;
    background-size: cover;
    background-image: linear-gradient(to bottom, transparent, #2d2d2d), url('assets/img/789194.jpeg');
    margin:0!important;
    padding:12vh!important;
}

.nav-text {
    color: #ff63ac;
    font-size: 20px;
}

.round-font-normal {
    font-family: all-round-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.round-font-bold {
    font-family: all-round-gothic, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.text-muted {
    color: #b3b3b3 !important;
}

.btn-rurusetto {
    background-color: #ff66aa!important;
    color: #fff!important;
    border-color: #ff66aa!important;
}